@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260, 14%, 4%;
    --foreground: 300 100% 99%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    /* customs */
    --accent-green: 187, 43%, 30%;

    --secondary-green: 183, 79%, 13%;

    --secondary-red: 346, 68%, 52%;

    --accent-black: 215, 21%, 11%;
    /* customs end */

    --border: 183, 79%, 13%;
    --input: 300 100% 99%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
